$white: #FFFFFF;
$black: #000000;
$gray: #F5F6F7;
$overlay-color: #3B4B53;
$green: #72cc96;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: "Source Sans Pro", sans-serif;
$code-font: "Source Code Pro for Powerline",monospace;
// break point
$small: 750px;